<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/sidedrawer") %>


    <main>
      <h1>Something went wront!</h1>
      <p>
        Unfortunately, the server was captured by Saruman.
      </p>
    </main>
  </body>
</html>